@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: center no-repeat url(../public/nebuleuse.jpeg);
    background-size: cover;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    font-family: "Iceberg", sans-serif;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 54px;
    text-align: center;
    width: 600px;
    color: #1868DF;
    text-shadow: 2px 2px 0 #FFF, -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF; /* Bordure blanche en ombre */
}
section {
    display: flex;
    flex-direction: row;
    margin-top: 380px;
    margin-right: 450px;
}
.soleil {
    height: 380px;
    width: 385px;
}
.mercure {
    margin-top: 100px;
    height: 190px;
    width: 195px;
}

.soleil:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.mercure:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.venus {
    margin-top: 80px;
    height: 220px;
    width: 225px;
}
.venus:hover {  
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}.terre {
    margin-top: 10px;
    height: 370px;
    width: 305px;
}
.terre:hover {  
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.lune{
    position: absolute;
    right: 350px;
    margin-top: 10px;
    height: 140px;
    width: 205px;
}
.lune:active,
.lune:focus{
    position: absolute;
    right: 350px;
    margin-top: 10px;
}
.lune:hover {  
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.mars {
    position: absolute; right: 80px;
    margin-top: 60px;
    height: 240px;
    width: 245px;
}
.mars:hover {  
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}