@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: center no-repeat url(../public/nebuleuse.jpeg);
    background-size: cover;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    font-family: "Iceberg", sans-serif;
    color: #1868DF;
    text-shadow: 2px 2px 0 #FFF, -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF; /* Bordure blanche en ombre */
    overflow: hidden;
}
img.logo-space {
    position: absolute; left: 76px;
}
h1 {
    position: absolute;
    top: 54px;
    text-align: center;
    width: 600px;
    color: #1868DF;
    text-shadow: 2px 2px 0 #FFF, -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF; /* Bordure blanche en ombre */
}
section {
    display: flex;
    flex-direction: row;
    margin-top: 380px;
    margin-right: 450px;
    gap: 10px;
}
.jupiter {
    margin-top: 60px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;
}
.saturne {
    margin-top: 100px;
    height: 228px;
    width: 450px;
}

.jupiter:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .5s ease-in;
    transition: .5s ease-in;
}

.saturne:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.uranus {
    margin-top: 80px;
    height: 250px;
    width: 250px;
}
.uranus:hover {  
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}.neptune {
    position: absolute; right: 26px;
    margin-top: 60px;
    height: 275px;
    width: 275px;
}
.neptune:hover {  
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
p {
    position: absolute;
    top: 250px;
    right: 1425px;
    color: #1868DF;
    font-size: 128px;
}
p:active,
p:focus{
    position: absolute;
    top: 250px;
    right: 1425px;
    color: #1868DF;
    font-size: 128px;
}